/* переменные - удалить при подключении отдельного файла с переменными */
:root {
  --white-text: rgba(255, 255, 255, 1);

  --grey-text: rgba(157, 164, 189, 1);
  --grey-text-op60: rgba(157, 164, 189, 0.6);
  --grey-text-op40: rgba(157, 164, 189, 0.4);

  --graphite: rgba(48, 48, 48, 1);
  --graphite-light: rgba(85, 85, 85, 1);

  --orange: rgba(255, 108, 0, 1);

  --back-light-grey: rgba(247, 247, 247, 1);
}

/* ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО ДОКУМЕНТА */

/* применяем основное семейство шрифтов для всего документа и ссылок */
body,
a {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* общие стили для всех предзаголовков */
.pretitle {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pretitle::before {
  display: inline-block;
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--graphite);

  margin-right: 20px;
}

/* переназначаем шрифт для заголовков секций через общий класс */
.title {
  margin: 20px 0;

  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

/* общие стили для всех предзаголовков */
.short-desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;
}

.online-sign {
  border: 1px solid #ff6c00;
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background: transparent;
  color: var(--white-text);

  padding: 12px 20px;
}

.online-sign:hover,
.online-sign:focus {
  background-color: var(--orange);
  color: var(--white-text);
}

.media-list {
  display: flex;
  align-items: center;
}

.media-list::before {
  content: '';
  width: 60px;
  height: 1px;
  /* background-color: var(--graphite); */
  background-color: white;
  margin-right: 40px;
}

.media-list li:first-child {
  margin-right: 40px;
}

/* === HEADER === */
.header {
  /* временный бэкграунд */
  color: white;
  position: relative;
}

.header .container {
  background-color: black;
}

.header a {
  /* варианты применения белого цвета ссылкам */
  /* color: white; */

  /* наследование цвета ссылками от хэдэра */
  /* color: inherit; */
  /* color: currentColor; */

  /* назначение цвета через переменную */
  color: var(--white-text);
  font-size: 12px;
}

.header-nav,
.nav-list,
.contacts-list {
  display: flex;
}

.header-nav {
  justify-content: space-between;
  align-items: center;

  padding-top: 28px;
}

.nav-list li {
  margin-left: 40px;
}

.contacts-list {
  margin-left: 322px;
}

/* 1 способ */
/* .contacts-list li:last-child {
  margin-left: 40px;
} */

/* 2 способ */
.contacts-list li:not(:last-child) {
  margin-right: 40px;
}

/* назначение цвета при наведении на ссылку */
.nav-link:hover {
  color: var(--orange);
}

.header .media-list {
  position: absolute;
  bottom: -399px;
  transform: rotate(-90deg);
  z-index: 2;
}

/* === HERO === */
.hero .container {
  background: black;
  padding-left: 215px;
  padding-top: 184px;
}

.hero-pretitle {
  color: var(--grey-text-op60);
}

.hero .pretitle::before,
.services .pretitle::before,
.contacts .pretitle::before {
  background-color: var(--grey-text-op60);
}

.hero-title {
  font-size: 72px;
  line-height: 1.181;

  letter-spacing: 0.05em;

  color: var(--white-text);
}

.hero-desc {
  color: var(--grey-text);

  margin-bottom: 142px;
}

.hero-btns {
  text-align: right;
  padding-bottom: 40px;
}

.hero-btn:first-child {
  text-align: left;
}

.hero-btn:last-child {
  margin-left: 26px;
  text-align: right;
}

.hero-btn {
  border: none;
  background: transparent;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;

  color: var(--grey-text-op60);
  text-transform: capitalize;

  width: 60px;
  height: 24px;
  border-bottom: 1px solid;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  color: var(--white-text);
}

/* === ABOUT === */
.about .container {
  display: flex;
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-images {
  display: flex;
  margin-right: 64px;
  width: 50%;
}

.about-images li:first-child {
  margin-right: 30px;
}

.about a,
.about-pretitle,
.about-title {
  color: var(--graphite);
}

.about-desc {
  color: var(--graphite-light);
}

.description {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  margin-top: 20px;
  margin-bottom: 40px;
}

/* === SERVICES === */
.services .container {
  background-color: black;
  padding-top: 130px;
  padding-bottom: 130px;

  display: flex;
  flex-flow: column;
}

.tables-wrapper {
  display: flex;
  justify-content: space-between;
}

.services a {
  color: var(--white-text);
}

.services-pretitle {
  color: var(--grey-text-op60);
}

.services-title {
  color: var(--white-text);
  margin-bottom: 44px;
}

.table {
  border: 1px solid var(--grey-text);
  padding: 30px 40px;
  width: 50%;
}

.table tr {
  border-bottom: 1px solid grey;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;
}

.table td {
  color: var(--grey-text);
}

.services .online-sign {
  /* display: block; */
  margin: 0 auto;
  margin-top: 50px;
}

/* === OLDSCHOOL === */
.oldschool .container {
  display: flex;
  justify-content: center;
  padding-top: 121px;
  padding-bottom: 130px;
}

.showlist {
  display: flex;
  flex-flow: row wrap;

  width: 400px;
  /* height: 300px; */
  margin-right: 130px;
}

.showlist li {
  width: 170px;
  height: 133px;
}

.showlist li:nth-child(2n + 1) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.showlist li:nth-child(2n) {
  /* margin-right: 30px; */
  margin-top: 30px;
}

/* .showlist li:nth-child(1) {
  margin-right: 30px;
}

.showlist li:nth-child(3) {
  margin-right: 30px;
} */

.oldschool-content {
  display: flex;
  flex-flow: column;
  width: 500px;
}

.oldschool-pretitle,
.showlist-num,
.showlist-text {
  color: var(--graphite);
}

.oldschool-pretitle {
  margin-top: 9px;
}

.oldschool-desc {
  color: var(--graphite-light);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.showlist li {
  background: var(--back-light-grey);

  flex-flow: column;
  align-items: center;
  padding: 20px 24px;
}

.showlist-num {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;

  letter-spacing: 0.05em;
}

.showlist-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

/* === MASTERS === */
.masters .container {
  background: var(--back-light-grey);
  padding-bottom: 130px;
  padding-top: 130px;
}

.masters-list {
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: white;

  border-radius: 50%;
}

.social-icons a,
.social-icons svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
  /* padding: 5px; */
}

.social-icons a:hover {
  color: var(--orange);
}

.social-icons a {
  color: var(--graphite);
}

.social-icons svg {
  width: 20px;
  fill: currentColor;
}

/* 
.social-icons svg:hover {
  fill: var(--orange);
} */

.social-icons li:not(:last-child) {
  margin-right: 10px;
}

.masters-pretitle,
.masters-title {
  color: var(--graphite);
}

.masters-title {
  margin-bottom: 44px;
}

.master-data {
  margin: 30px 0;
}

.master-name {
  font-size: 18px;
  line-height: 1.39;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--graphite);

  margin-bottom: 8px;
}

.master-position {
  font-size: 14px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--orange);
}

/* === BARBA === */
.barba .container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.barba-pretitle {
  color: var(--graphite);
  margin-bottom: 44px;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

/* === CONTACTS === */
.contacts .container {
  background: rgba(25, 28, 38, 1);
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 130px;
}

#onlinesign,
#contacts {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
}

#contacts {
  padding-left: 100px;
}

.contacts-title {
  color: var(--white-text);
  margin-bottom: 44px;
}

.signform input::placeholder,
.signform textarea::placeholder {
  color: var(--grey-text-op40);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
}

.signform input,
.signform textarea {
  color: var(--grey-text-op40);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-text-op40);
}

.signform input[name='name'] {
  width: 270px;
  margin-right: 30px;
  padding-bottom: 8px;
}

.signform input[name='tel'] {
  width: 260px;
  padding-bottom: 8px;

  /* margin-right: 40px; */
}

.signform textarea[name='msg'] {
  width: 560px;
  margin-top: 40px;
}

.signform input:active,
.signform textarea:active {
  color: var(--white-text);
}

.online-sign {
  /* display: block; */
  margin-top: 44px;
}

.contacts-links {
  margin-bottom: 70px;
}

.contacts-links a::before {
  content: '';
  display: block;
  margin-right: 20px;
  width: 24px;
  height: 24px;
  background: white;
}

.contacts-links a:nth-child(1)::before {
  background-position: center;
  background-repeat: no-repeat;
  background: url(../images/icons/map.svg);
}

.contacts-links a:nth-child(2)::before {
  background: url(../images/icons/phone.svg);
}

.contacts-links a:nth-child(3)::before {
  background: url(../images/icons/mail.svg);
}

/* ============= */

.contacts-links a,
.worktime {
  display: block;

  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: var(--grey-text);
}

.contacts-links a {
  display: flex;
}

.contacts-links a[name='mail'] {
  text-decoration-line: underline;
}

.contacts-links a:not(:last-child) {
  margin-bottom: 20px;
}

.worktime-title {
  color: var(--white-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

/* === FOOTER === */
.footer .container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
}

.footer p,
.footer a {
  color: var(--grey-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;
}

.footer a {
  color: var(--graphite);
}
